@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class =  em CSS é .
*/
body{
    background-color: rgb(169, 247, 221);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(11, 133, 82);
}

h1#principal{
    text-align: center;
    background-color: rgb(11, 133, 82);
    color: rgb(169, 247, 221);
}

h2{
    color: rgb(33, 95, 75);
}
.basico {
    color: blue;
}
.intermediario{
    color: yellow;
}
.avancado{
    color: red;
}
.destaque{
    background-color: rgba(248, 248, 72, 0.473);
}