@charset "UTF-8"; 

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif
}
body{
   background-image: linear-gradient(-90deg,#91a5da,#d0d8eb );
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    box-shadow:5px 5px 10px #5670c4a4 ;
    margin: auto;
    border-radius: 10px;
}
h1{
    color: #5552BA;
    text-align: center;
    text-shadow: 1px 1px 2px #5552BA;
}
p{
    text-align: justify;
}